@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.astona-logo{
  width: 120px;
  height: 120px;
}
#navItem1 {
  color: #2a82d4;
  font-family: "Roboto";
}
#navItem2 {
  color: #2a82d4;
  font-family: "Roboto";
}
#navItem3 {
  color: #2a82d4;
  font-family: "Roboto";
}
#navItem4 {
  color: #2a82d4;
  font-family: "Roboto";
}
.banner-section-bg-container {
  background-image: url("https://png.pngtree.com/background/20210709/original/pngtree-food-food-snack-eating-goods-picture-image_925656.jpg");
  height: 125vh;
  background-size: cover;
}
.banner-heading {
  color: rgb(242, 15, 147);
  font-family: "Roboto";
  font-size: 45px;
  font-weight: 300;
}
.banner-caption {
  color: rgb(242, 15, 147);
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 300;
}
.custom-button {
  color: white;
  background-color: rgb(178, 34, 123);
  width: 130px;
  height: 45px;
  border-width: 0;
  border-radius: 8px;
  margin-right: 10px;
}
.custom-outline-button {
  color: white;
  background-color: transparent;
  width: 130px;
  height: 45px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(178, 34, 118);
  border-radius: 8px;
}
.wcu-section {
  background-color: #f9fbfe;
}
.wcu-section-heading {
  color: #324b34;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.wcu-section-description {
  color: #324b34;
  font-family: "Roboto";
  font-size: 16px;
}
.wcu-card {
  text-align: center;
  background-color: rgb(121, 170, 200);
  border-style: solid;
  border-width: 1px;
  border-color: #6091f3;
  border-radius: 16px;
}
.wcu-card-image {
  width: 87px;
  height: 90px;
}
.wcu-card-title {
  color: #324b34;
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 500;
}
.wcu-card-description {
  color: #324b34;
  font-family: "Roboto";
  font-size: 16px;
}
.offers {
  color: #010a11;
  font-style: italic;
  font-weight: 600;
}
.explore-menu-section {
  background-color: rgb(238, 240, 124);
}
.menu-section-heading {
  color: #324b34;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.menu-item-image {
  border-radius: 16px;
}
.menu-card-title {
  color: #324b34;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  margin-top: 24px;
}
.menu-item-link {
  color: rgb(255, 89, 47);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
}
.menu-item-card {
  border-radius: 16px;
}
.healthy-food-section {
  background-color: #f9fbfe;
}
.healthy-food-section-img {
  width: 270px;
}
.healthy-food-section-heading {
  color: #324b34;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.healthy-food-section-description {
  color: #5a847a;
  font-family: "Roboto";
  font-size: 16px;
}
.delivery-and-payment-section {
  background-color: rgb(162, 212, 244);
}
.delivery-and-payment-section-img {
  width: 270px;
}
.delivery-and-payment-section-heading {
  color: #324b34;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.delivery-and-payment-section-description {
  color: #5a7184;
  font-family: "Roboto";
  font-size: 16px;
}
.payment-card-img {
  width: 50px;
  height: 50px;
  margin-right: 28px;
}
.thanking-customers-section {
  background-color: #6fbbd11a;
}
.thanking-customers-section-heading {
  color: #324b34;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.thanking-customers-section-description {
  color: #846c5a;
  font-family: "Roboto";
  font-size: 16px;
}
.thanking-customers-section-img {
  width: 270px;
  margin-bottom: 20px;
}
.follow-us-section {
  background-color:#a4ced3;
}
.follow-us-section-heading {
  text-align: center;
  color: #324b34;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.follow-us-icon-container {
  background-color:palegoldenrod;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin: 15px;
  padding-top: 22px;
  padding-bottom: 14px;
  padding-right: 16px;
  padding-left: 22px;
}
.icon {
  font-size: 35px;
}
.footer-section {
  background-color: #a4ced3;
}
.footer-section-mail-id {
  color: #324b34;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}
.footer-section-address {
  color:#324b34;
  font-family: "Roboto";
  font-size: 14px;
}